.navbar{
    width: 100%;
    position: fixed;
    margin-top: 20px;
}

.navbar-start {
    justify-content: end;
    width: 100%;
    padding-right: 10vw;
}

#navbarLogo {
    transform: scale(2.5);
}

.navbar-brand {
    padding-left: 80px;
    height: 80px;
}

.navbar-burger {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 20px;
}

.background-img {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../img/piesek.jpg");
    background-size: cover;
    background-position-y: 30%;
    z-index: -1;
}

.topBar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white !important;
}

iframe {
    padding-bottom: 50px;
    border: 0;
    width: 100%;
    height: 400px;  
}

.social-link {
        margin-right: 1.5rem;
        text-decoration: none;
        color: black;
}

span {
    margin-left: 10px;
}

.list {
    display: flex;
    justify-content: start;
    box-shadow: none;
}

.column-mobile {
    text-align: center;
    display: flex;
    justify-content: center;
}

.column-mobile ul li {
    display: block;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#contact {
    background-color: #33bbb4;
}

.padded {
    padding-top: 30px;
}

.blockquote {
    border-left: none;
    border: 1px solid #888888;
    padding: 20px;
    line-height: 1.8;
}

.btn-header {
    width: 200px;
    height: 100px;
    background-color: rgba(0,0,0, 0.1) !important;
}

.btn-header:hover {
    background-color: rgba(0,0,0, 0.15) !important;
}

.inline {
    display: inline;
    vertical-align: middle;
}

#aboutus {
    background-color: #33bbb4;
}

#services {
    background-color: white;
}

.footer {
    padding: 3rem 0;
}

#header .hero-body {
    height: 125vh;
}

li .span {
    margin-left: 10px;
}

#btn-header {
    padding-top: 5vh;
}

.title {
    text-align: center;
}

@media (max-width: 1025px){
    #header .container {
        margin-top: 200px;
    }
    #navbarLogo {
        transform: scale(2);
        padding-left: 20px;
    }
    .navbar-brand {
        padding-left: 35px;
    }
    li .span {
        margin-left: 0px;
    }
    
}